<template name="genre_selection">
  <div class="container">

    <div class="genre_selection_content">

      <h2>Select your favourite genres:</h2>

      <div class="genre_box_container">
        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>Jazz</p>
              <img src="genre_icons/jazz-icon.png" alt="">
          </div>

          <div class="genre_box">
              <p>House</p>
              <img src="genre_icons/house-icon.jpg" alt="">
          </div>

          <div class="genre_box">
              <p>Metal</p>
              <img src="genre_icons/heavy-metal-icon.jpg" alt="">
          </div>
        </div>

        <br>

        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>Hip-Hop</p>
              <img src="genre_icons/rap-icon.jpg" alt="">
          </div>

          <div class="genre_box">
              <p>Country</p>
              <img src="genre_icons/country-icon.jpg" alt="">
          </div>

          <div class="genre_box">
              <p>Rock</p>
              <img src="genre_icons/rock-icon.jpg" alt="">
          </div>
        </div>

        <br>

        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>RnB</p>
              <img src="genre_icons/rb-icon.jpg" alt="">
          </div>

          <div class="genre_box">
              <p>Classic</p>
              <img src="genre_icons/classical-icon.jpg" alt="">
          </div>

          <div class="genre_box">
              <p>Latin</p>
              <img src="genre_icons/latin-icon.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="footer_container">
        <p class="progress footer">Step 1/5</p>
        <div class="next footer">Next</div>
      </div>

    </div>


  </div>
</template>
