<template name="genre_selection">
  <div class="container">

    <div class="genre_selection_content">

      <h2>Select your favourite genres:</h2>

      <div class="genre_box_container">
        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>Jazz</p>
              <img src="genre_icons/jazz.png" alt="">
          </div>

          <div class="genre_box">
              <p>House</p>
              <img src="genre_icons/house.png" alt="">
          </div>

          <div class="genre_box">
              <p>Metal</p>
              <img src="genre_icons/heavy_metal.png" alt="">
          </div>
        </div>

        <br>

        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>Rap</p>
              <img src="genre_icons/rap.png" alt="">
          </div>

          <div class="genre_box">
              <p>Country</p>
              <img src="genre_icons/country.png" alt="">
          </div>

          <div class="genre_box">
              <p>Rock</p>
              <img src="genre_icons/rock.png" alt="">
          </div>
        </div>

        <br>

        <div class="three_genre_boxes">
          <div class="genre_box">
              <p>R&B</p>
              <img src="genre_icons/rb.png" alt="">
          </div>

          <div class="genre_box">
              <p>Classic</p>
              <img src="genre_icons/classical.png" alt="">
          </div>

          <div class="genre_box">
              <p>Latin</p>
              <img src="genre_icons/maracas.png" alt="">
          </div>
        </div>
      </div>

      <div class="footer_container">
        <p class="progress footer">Step 1/5</p>
        <div class="next footer">Next</div>
      </div>

    </div>


  </div>
</template>
