<template name="artist_selection">
  <div class="container">

    <div class="artist_selection_content">

      <h2>Select your favourite artists:</h2>

      <div class="artist_box_container">
        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Michael Jackson</p>
              <img src="artist_icons/jackson.png" alt="">
          </div>

          <div class="artist_box">
              <p>The Beatles</p>
              <img src="artist_icons/beatles.jpg" alt="">
          </div>

          <div class="artist_box">
              <p>Madonna</p>
              <img src="artist_icons/madonna.jpg" alt="">
          </div>
        </div>

        <br>

        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Elton John</p>
              <img src="artist_icons/elton_john.jpg" alt="">
          </div>

          <div class="artist_box">
              <p>Elvis Presley</p>
              <img src="artist_icons/elvis_presley.jpg" alt="">
          </div>

          <div class="artist_box">
              <p>Mariah Carey</p>
              <img src="artist_icons/mariah_carey.jpg" alt="">
          </div>
        </div>

        <br>

        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Stevie Wonder</p>
              <img src="artist_icons/stevie_wonder.jpg" alt="">
          </div>

          <div class="artist_box">
              <p>Frank Sinatra</p>
              <img src="artist_icons/frank_sinatra.jpg" alt="">
          </div>

          <div class="artist_box">
              <p>Whitney Houston</p>
              <img src="artist_icons/whitney_houston.jpg" alt="">
          </div>
        </div>

      </div>
    </div>

    <div class="footer_container">
      <p class="progress footer">Step 2/5</p>
      <div class="next footer">Next</div>
    </div>
  </div>

</template>
