<template name="artist_selection">
  <div class="container">

    <div class="artist_selection_content">

      <h2>Select your favourite artists:</h2>

      <div class="artist_box_container">
        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Michael Jackson</p>
              <img src="artist_icons/jazz.png" alt="">
          </div>

          <div class="artist_box">
              <p>The Beatles</p>
              <img src="artist_icons/house.png" alt="">
          </div>

          <div class="artist_box">
              <p>Madonna</p>
              <img src="artist_icons/heavy_metal.png" alt="">
          </div>
        </div>

        <br>

        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Elton John</p>
              <img src="artist_icons/rap.png" alt="">
          </div>

          <div class="artist_box">
              <p>Elvis Presley</p>
              <img src="artist_icons/country.png" alt="">
          </div>

          <div class="artist_box">
              <p>Mariah Carey</p>
              <img src="artist_icons/rock.png" alt="">
          </div>
        </div>

        <br>

        <div class="three_artist_boxes">
          <div class="artist_box">
              <p>Stevie Wonder</p>
              <img src="artist_icons/rb.png" alt="">
          </div>

          <div class="artist_box">
              <p>Michael Jackson</p>
              <img src="artist_icons/classical.png" alt="">
          </div>

          <div class="artist_box">
              <p>Whitney Houston</p>
              <img src="artist_icons/maracas.png" alt="">
          </div>
        </div>
      </div>

      <button class="button">Next</button>
      <progress class="progres" value="30" max="50">Step 1/5</progress>

    </div>

  </div>
</template>
