<template name="explore">
  <div class="container recommended_song">

    <div class="margin-element"></div>

    <div class="search_content">

      <div class="drop_down">

        <img class="menu_icon" src="\icons\Menu.png" alt="" />

        <div id="drop_down_content" class="drop_down_content">

          <a href="/music-player">Music Player</a>
          <a href="/recommended-song">Recommend</a>

        </div>

      </div>

      <!-- <input class='search' type="search_bar" name="search_bar" placeholder="Search music, artists..."> -->

      <div class="menu_bar_icons">
        <img class="playlist_icon" src=\icons\go-to-player.png alt=""/>
        <img class="user_icon" src=\icons\user.png alt=""/>
      </div>

    </div>

    <div class="song_list_content">

<!-- Here go the songs -->

    {{ #each song in favorites }}
      <div class="music_box">

        <div class="music_info">
          <p class="song_name">{{ song }}</p>
        </div>

      
      </div>
    {{ /each }}

<!--  Here end the songs -->
    </div>

    <div id="more_info_content" class="more_info_content">
      <a href="/recommended-song">Find Similar Songs</a>
      <a href="/music-player">Music Info</a>
    </div>

  </div>
</template>
