<template name="playlist">
  <div class="container">

    <div class="search_content">

      <div class="drop_down">

        <img class="menu_icon" src="\icons\Menu.png" alt="" />
        <div id="drop_down_content" class="drop_down_content">

          <a href="/music-player">Music Player</a>
          <a href="/playlist">Playlist</a>
          <a href="/recommended-song">Recommend</a>
          <a href="/explore">Explore</a>

        </div>
      </div>

      <input type = "search" id = "search" placeholder="Search music, artists..." />
      <img class="music_player_icon" src="\icons\Playlist.png" alt="" />
      <img class="user_head_icon" src="\icons\Head.png" alt="" />
    </div>

    <div class="song_list_content" >
      <img class="play_all_icon" src="\icons\Playall.png" alt="" />
      <p class="play_all">Play All</p>
      <hr>
      <div class="music_box">
        <div class="music_info">
          <p class="song_name">song name</p>
          <p class="artist">artist</p>
        </div>
        <div class="icons">
          <img class="delete_icon" src=\icons\Delete.png alt=""/>
          <img class="more_info_icon" src =\icons\MoreOption.png alt=""/>
        </div>
        <hr>
      </div>
    </div>

    <div id="more_info_content" class="more_info_content">
      <a href="/recommended-song">Find Similar Songs</a>
      <a href="/music-player">Music Info</a>
    </div>

    <div class="bottom_bar">
      <div class="explore">
        <img class="explore_icon" src=\icons\Explore.png alt="">
        <button class="explore_button">Explore</button>
      </div>

      <div class="recommend">
        <img class="recommend_icon" src=\icons\Recommend.png alt="">
        <button class="recommend_button">Recommend</button>

      </div>


    </div>

  </div>
</template>
