<template name="start_screen">
  <div class="container">

    <div class="start_screen_content">

      <div class="page-title">
        <h1>Better Music</h1>
        <p>Get personally crafted song recommendations</p>
      </div>


      <button class="next">Get Started</button>
      <!-- <progress value="10" max="50">Step 1/5</progress> -->

      <div class="suggest_login">

        <h2>OR</h2>
        <p>If you have an account</p>
        <h2 class="redirect_to_login">Login</h2>
        
      </div>

    </div>

  </div>
</template>
