<template name="login">
    <div class="container">
        <div class="login_content">
            <h2>Sign In to get your music</h2>
            <div id="authentication">
                <!--onSubmit="formValidationSignIn()"-->
                 <form id="signInForm" name="signIn">
                    <input class="log" type="text" name="username" placeholder="Username">
                    <input class="log" type="password" name="password" placeholder="Password">
                    <input class="submitBtn" type="submit" name="submit" value="Login">
                </form>
            </div>
            <div class='register'>Register</div>
			      <div class="footer_container">
				          <p class="progress footer">Step 3/5</p>

			      </div>
          </div>

  </div>
</template>
