
<template name="login">
    <div class="container">
        <div class="login_content">
            <h2>Sign In to get your music</h2>

            <div id="authentication">
                <!--onSubmit="formValidationSignIn()"-->
            {{#if currentUser}}
              <p id="welcome">Welcome  to Million DataSong</p>
               <input type="submit" class="logout" value="Logout">

                 <div class="next footer">Next</div>
            {{else}}
              <form id="login" name="signIn">
                    <input class="log" type="text" name="email" placeholder="Email">
                    <input class="log" type="password" name="password" placeholder="Password">
                    <input class="submitBtn" type="submit" name="submit" value="Login">
                </form>
            <!--    {{> loginButtons}}-->
            {{/if}}
            </div>
          {{#if currentUser}}
          {{else}}
           <div class='register'>Register</div>
             {{/if}}
			      <div class="footer_container">
				          <p class="progress footer">Step 3/5</p>

			      </div>
          </div>

  </div>
</template>
