// main: main.styl, compress: true, sourcemap:false
box_size = 80px

h2
  text-align center
  font bold Tahoma

.artist_box_container
  width 100vw
  margin 0 auto
  //margin 15px

.three_artist_boxes
  width 100vw
  //height 150px
  text-align center

.artist_box
  display inline-block
  margin 15px
  text-align: center
  //border: 3px solid green;

.artist_box p
  text-align center
  font: 12px bold
  margin 5px

img
  width box_size
  height box_size

.footer_container
  width: 100vw
  height 200px

.footer
  display: inline-block;

.footer_container .progress
  width 100px
  height 30px
  float left
  margin-left 50px
  font-weight bold

.next
  text-align: center
  width: 100px
  float right
  background #26ADE4
  margin-right 53px
