// main: main.styl, compress: true, sourcemap:false

box_size = 90px

.genre_selection_content h2
  text-align center
  font-weight bold
  margin-top 20px

.genre_selection_content
  width 100vw
  height 100vh

.genre_selection_content .genre_box_container
  width 100vw
  margin 0 auto

.genre_selection_content .three_genre_boxes
  width 100vw
  height 140px
  text-align center

.genre_selection_content .genre_box
  display inline-block
  margin 15px
  text-align center

.genre_selection_content .genre_box p
  text-align center
  font-size 12px
  margin 5px
  font-weight bold
.genre_selection_content img
  width box_size
  height box_size
  border-radius 50%

.genre_selection_content .footer_container
  width 318px
  height 100px
  margin 0 auto
  margin-top 30px

.genre_selection_content .footer_container .footer
  display inline-block
  font-weight bold

.genre_selection_content .footer_container .progress
  position relative
  float left
  width 100px
  height 30px
  font-weight bold
  font-size 18px
  bottom 2px

.genre_selection_content .footer_container .next
  float right
  width 120px
  height 50px
  text-align center
  background #26ADE4
  line-height 50px
  font-size 20px

// Styles for highlighting the element onClick
.highlight
  //border:#CCCCCC thin solid;
  //filter: brightness
  background-color: #424242
  box-shadow 20px 20px 25px 15px #333
