// out: ../main.css, sourcemap: false, compress: true
@import "normalize"
// Fonts. Escape + chars for stylus!

// Color variables go here
light_black = #1C1C1F
dark_green = #eee
yellow_green = #84BD00
nero_black = #121314

html, body
  box-sizing border-box
  width 100%
  height 100%
  overflow-x hidden
  background-color nero_black
  color #fff
  font-family: 'Open Sans', sans-serif;

.container
  width 100%
  height 100%

// Start screen styles
@import "start_screen"
