// main: main.styl, compress: true, sourcemap:false
.song-info
  margin 0 auto
  width 100vw
  height 90px

.song-info img
  position absolute
  width 50px
  height 50px
  margin-top 0px
  margin-left 20px

.song-info p
  text-align center
  height 20px

.song-title
  font-weight bold
  font-size 20px

.song-picture
  position absolute
  width 100vw
  height 200px
  text-align center
  margin auto
  top 0
  bottom 80px
  left 0
  right 0

.song-progress-bar
  position absolute
  bottom 110px
  left 50%
  margin-left -40vw

.song-progress-bar progress
  width 80vw
  height 5px
  background: #ffeeee;

.player-controls
  position absolute
  width 100vw
  height 100px
  text-align center
  bottom 0

.player-controls div
  display inline-block

.player-controls img
  width 70px
  height 70px
  margin 10px


// For screens over 450px, make the song image bigger
@media(min-height 449px)
 .song-picture img
   width 280px
   height 280px

@media(max-height 450px)
 .song-picture
   position absolute
   width 100vw
   height 100px
   text-align center
   margin auto
   top 0
   bottom 5px
   left 0
   right 0

 .song-picture img
   width 100px
   height 100px
