// main: main.styl, compress: true, sourcemap:false
box_size = 90px

.register_content h2
  text-align center
  font-weight bold
  margin-top 20px

.register_content
  width 100vw
  height 100vh


.register .footer_container .footer
  display inline-block
  font-weight bold

#authenticationReg
  margin 10vh 5vw 6vh 5vw


#register
  display inline-block
  border solid 1px #C9D8EA
  border-radius: 6px

.reg
  margin: 3vh 4vh
  width: 74 vw
  height: 7vh
  border solid 1px #C9D8EA
  border-radius: 8px
  padding-left:3vw

.submitBtn
    margin: 4vh 4vh
    width: 77 vw
    height: 8vh
    border solid 1px #C9D8EA
    border-radius: 8px
    background-color:#3B5998
    color:#FFFFFF
    font-size:22px

.login
  width: 50vw
  height: 5vh
  background-color:#3B5998
  color:#FFFFFF
  font-size:22px
  text-align: center
  padding-top 1vh
  border solid 1px #C9D8EA
  border-radius: 8px
  margin 6vh 25vw

.register_content .footer_container
  width 318px
  height 100px
  margin 0 auto
  margin-top 30px

.register_content .footer_container .footer
  display inline-block
  font-weight bold

.register_content .footer_container .progress
  position relative
  float left
  width 100px
  height 30px
  font-weight bold
  font-size 18px
  bottom 2px

.register_content .footer_container .next
  float right
  width 120px
  height 50px
  text-align center
  background #26ADE4
  line-height 50px
  font-size 20px
