// main: main.styl, compress: true, sourcemap:false

// Start screen styles
.start_screen_content
  width 100%
  height 100vh
  text-align center
  position relative

.start_screen_content p
  width 300px
  margin 0 auto

.start_screen_content button
  width 200px
  height 80px
  margin-top 80px

.start_screen_content progress
  display block
  width 200px
  height 20px
  position absolute
  bottom 20%
  // Set left 50% and margin-left set to 50% of the element's width, so it
  // can be centered
  left 50%
  margin-left -100px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
  background-color dark_green
