<template name="recommended_song">
  <div class="container">
    <div class="search_content" style="height: 80px; background-color: #26ADE4">

      <input type = "search" id = "search" placeholder="Search music, artists..." style="position:relative; left: 20px; top:20px"/>
      <img id="playlist_icon" src=\icons\Playlist.png alt="" style="position:relative; left:150px; top: 20px; width:50px; height:25px">
      <img id="user_icon" src=\icons\Head.png alt="" style="position:relative; left:120px; top: 20px; width:25px; height:25px"/>

    </div>

    <div class="song_list_content" style="heght: 350px">

      <button class="button" style="width:100px;height:30px;background-color:transparent; margin-top:10px; margin-left:30px; font-size:20px; color: #FFFFFF">Play All</button>
      <hr style="align: center; color: #FFFFFF; size: 1px; width: 360px;">

    </div>

    <div class="bottom_bar" style="position: absolute; bottom: 0; orientation: horizontal">

      <img id="explore" src=\icons\Explore.png alt="" style="position:absolute; left:15px; top: 12px; width:35px; height: 35px">
      <img id="mymusic" src=\icons\MyMusic.png alt="" style="position:absolute; left:218px; top:18px; width:30px;height:30px">
      <button class="explore" style="position:absotlute; left: 0; width: 203px; height:70px;background-color:transparent;font-size:25px; color: #FFFFFF">Explore</button>
      <button class="my_music" style="position:relative; left: 0; width: 203px; height:70px;background-color:transparent;font-size:25px; color: #FFFFFF">My Music</button>
      
    </div>
  </div>
</template>
