<template name="register">
 <div class="container">

    <div class="register_content">
            <h2>Create an account to get your music:</h2>


    <div id="authenticationReg">

      <form id="signUpForm" name="signUp">
            <input class="reg" type="text" name="usernameReg" placeholder="Username">
            <input class="reg" type="password" name="passwordReg" placeholder="Password">
            <input class="reg" type="password" name="passwordRegConf" placeholder="Confirm Password">
            <input class="register-button" type="submit" name="submit" value="Register">
      </form>

    </div>

			<div class="footer_container">
        <p class="progress footer">Step 3/5</p>
      </div>

    </div>

	</div>

</template>
