<template name="register">
 <div class="container">

    <div class="login_content">
		<div id="indie2">
            <p id="submenu">Register to get your music</p>
        </div>

            <div id="authentication">
                <form id="signUpForm" name="signUn" <!--onSubmit="formValidationSignUp()"-->>
                    <input id="usernameReg" type="text" name="usernameReg" placeholder="Username">
                    <input id="passwordReg" type="password" name="passwordReg" placeholder="Password">
                    <input id="passwordConfReg" type="password" name="passwordRegConf" placeholder="Confirm Password">
                    <input class="submitBtn" type="submit" name="submit" value="Registrieren">
                </form>
            </div>
	</div>
 </div>
</template>
