<template name="user_info">
  <div class="container">
    <div class="back">
      <img class="back_icon" src="\icons\Back.png" alt="" />
    </div>
    <div class="user_info_content">
      <img class="user_icon" src="\icons\Head.png" alt="" />
      <p class="user_name">User Name</p>
      <p class="password">Change Password</p>
      <div class="change_password" id="change_password">
        <input class="old_password" name="old_password" placeholder="old password">
        <input class="new_password" name="new_password" placeholder="your new password">
        <input class="new_password_2" name="new_password_2" placeholder="new password again">
        <button class="change" id="change">Change</button>
        <button class="cancel" id="cancel">Cancel</button>
      </div>
    </div>
  </div>

</template>
